@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&family=Scheherazade+New:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  font-family: 'Lexend Deca',
    'Noto Sans Arabic',
    'Scheherazade New',
    system-ui,
    sans-serif;
}


body {
  background: 
    linear-gradient(
      145deg,
      #0a1b2f 0%,     /* navy blue from top-left */
      #000000 35%,    /* blend to black */
      #000000 65%,    /* stay black in center */
      #2b0d00 100%    /* orange/brown to bottom-right */
    );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}



@keyframes updown {
  0%, 100% {
    opacity: 0.5;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(15px); /* increase this for more bounce */
  }
}

html[lang="ar"],
html[lang="ku"] {
  direction: rtl;
}
