@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  font-family: 'Lexend Deca';
}


body {
  background: 
    linear-gradient(
      145deg,
      #0a1b2f 0%,     /* navy blue from top-left */
      #000000 35%,    /* blend to black */
      #000000 65%,    /* stay black in center */
      #2b0d00 100%    /* orange/brown to bottom-right */
    );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}